@import "tailwindcss";







:root {
  --font-caladea: var(--font-caladea);
}

.font-caladea {
  font-family: var(--font-caladea), serif;
}

body {
  font-family: var(--font-caladea), serif;

  padding-top: 140px; 

}