@import "tailwindcss";

/* DEFAULT FONT FOR WHOLE SITE */
body {
  font-family: var(--font-caladea), serif;

}

/* optional override class if needed */
.font-serif {
  font-family: var(--font-caladea), serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-caladea), serif;
}